<section>
  <div class="heading">
    <div>
      <h2>Join 360</h2>
      <div class="vertical-blue-line"></div>
      <p>Key Metrics at a Glance</p>
    </div>
  </div>
  <section class="summary-terminal">
    <div>
      <div class="done-todo-infos">
        <div class="show-todo">
          <div class="circle-container">
            <img src="/assets/images/main/edit.png" alt="to-do-pencil image" />
          </div>
          <div>
            <p>num</p>
            <p>To-do</p>
          </div>
        </div>
        <div class="show-done">
          <div class="circle-container">
            <img src="/assets/images/main/Vector.png" alt="" />
          </div>
          <div>
            <p>num</p>
            <p>Done</p>
          </div>
        </div>
      </div>
      <div class="show-upcoming-deadline"></div>
      <div class="show-task-info">
        <div class="show-sum-of-tasks">
          <p>num</p>
          <p>Tasks in Board</p>
        </div>
        <div class="show-tasks-in-progress">
          <p>num</p>
          <p>Tasks in Progress</p>
        </div>
        <div class="show-awaiting-feedback">
          <p>num</p>
          <p>Awaiting Feedback</p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h3>good (time)</h3>
        <h2>logged name...</h2>
      </div>
    </div>
  </section>
</section>
