@import "../../styles.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: calc(100dvh - 200px);
  width: 100%;
  max-width: 1300px;
  padding: clamp(2rem, 4vw, 5rem) clamp(1rem, 7vw, 10rem) clamp(1rem, 2vw, 2rem) clamp(1rem, 4vw, 5rem);
  gap: 2rem;

  @media(max-width: 1024px) {
    gap: 1rem;
  }

  @media(max-width: 800px) {
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
  }

  >section {
    height: fit-content;
    padding: 0;
    padding-left: 1rem;

    @media(max-width: 800px) {

      padding: 0;
      align-items: flex-start;

    }
  }
}

.heading {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;

  >div {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    .vertical-blue-line {
      width: 2px;
      height: 50px;
      background-color: var(--accent-color-light);
    }
  }

  @media (max-width: 600px) {

    div {
      align-items: start;
      flex-direction: column;
      gap: 0.5rem;


      .vertical-blue-line {
        display: none;
      }

      .horizontal-blue-line {
        width: clamp(1rem, 30vw, 10rem);
        height: 2px;
        background-color: var(--accent-color-light);
      }
    }
  }
}

.summary-terminal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .done-todo-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    >div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;

    div {
      .greeting {
        display: none;
      }

      div {
        div {
          gap: 0.5rem;
        }
      }
    }
  }
}

.summary-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  gap: 1rem;

  @media(max-width: 1024px) {
    width: 50%;
  }

  @media(max-width: 800px) {
    width: 100%;
  }
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--nav-bg-color);
  height: clamp(50px, 6vw, 69px);
  width: clamp(50px, 6vw, 69px);

  >img {
    width: clamp(1rem, 3vw, 2.5rem);
  }
}

.show-todo,
.show-done,
.show-upcoming-deadline,
.show-sum-of-tasks,
.show-tasks-in-progress,
.show-awaiting-feedback {
  display: flex;
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  height: clamp(9rem, 15vw, 10rem);
  transition: all 0.2s ease-in-out;
  background-color: white;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;

    @media (min-width: 1024px) {
      transform: scale(1.05);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      background-color: var(--nav-bg-color);
      color: white;
      z-index: 3;

      .circle-container {
        background-color: white;

        >img {
          filter: brightness(0) invert(0);
        }
      }
    }
  }
}

.show-todo,
.show-done {
  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      text-align: center;
    }
  }
}

.show-upcoming-deadline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;

  .priority-part {
    display: flex;
    flex-direction: row;
    align-items: center;

    .priority-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      height: clamp(50px, 6vw, 69px);
      width: clamp(50px, 6vw, 69px);

      >img {
        height: clamp(1rem, 1.5vw, 1.5rem);

        filter: brightness(0) invert(1);
      }
    }
  }

  .boderline {
    width: 2px;
    height: clamp(5rem, 4vw, 5rem);
    background-color: var(--grey-color);
  }
}

.show-task-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  .show-sum-of-tasks,
  .show-tasks-in-progress,
  .show-awaiting-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(6rem, 11vw, 11rem);

    >p {
      text-align: center;
    }

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}

.num-of {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
}

.greeting {
  h3 {
    font-size: 43px;
  }

  h2 {
    color: var(--accent-color-light);
  }
}

.greeting-mobile {
  h3 {
    font-size: 43px;
  }

  h2 {
    color: var(--accent-color-light);
  }
}

.greeting-mobile.loaded {
  animation: revealUserName 3s ease-in-out forwards;
}

.mobile-animation-overlay {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1000;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .mobile-animation-overlay.loaded {
    display: flex;
    text-align: center;
    animation: revealUserSummary 2s ease-in-out forwards;
  }
}
