<section>
  <div class="heading">
    <div>
      <h2>Join 360</h2>
      <div class="vertical-blue-line"></div>
      <p>Key Metrics at a Glance</p>
    </div>
  </div>
  <section class="summary-terminal">
    <div>
        <div>
            <div class="show-todo"></div>
            <div class="show-done"></div>
        </div>
        <div class="show-upcoming-deadline"></div>
        <div class="show-task-info">
            <div class="show-sum-of-tasks"></div>
            <div class="show-tasks-in-progress"></div>
            <div class="show-awaiting-feedback"></div>
        </div>
    </div>
    <div>
        <div></div>
    </div>
  </section>
</section>
