<section>
  <div class="heading">
    <div>
      <h2>Join 360</h2>
      <div class="vertical-blue-line"></div>
      <p>Key Metrics at a Glance</p>
      <div class="horizontal-blue-line"></div>
    </div>
  </div>
  <section class="summary-terminal">
    <div>
      <div class="done-todo-infos">
        <div [routerLink]="'/board'" class="show-todo">
          <div class="circle-container">
            <img src="/assets/images/main/edit.png" alt="to-do-pencil image" />
          </div>
          <div>
            <p class="num-of">{{ getNumberOftasks('todo') }}</p>
            <p>To-do</p>
          </div>
        </div>
        <div [routerLink]="'/board'" class="show-done">
          <div class="circle-container">
            <img src="/assets/images/main/Vector.png" alt="done check symbol" />
          </div>
          <div>
            <p class="num-of">{{ getNumberOftasks('done') }}</p>
            <p>Done</p>
          </div>
        </div>
      </div>
      <div [routerLink]="'/board'" class="show-upcoming-deadline">
        <div class="priority-part">
          @if (nextDeadlineInfo.priority === 'Urgent') {
          <div [style.background]="'#ff0000'" class="priority-circle">
            <img [src]="'/assets/images/main/' + nextDeadlineInfo.priority.toLowerCase() + '.svg'"
              alt="priority image Urgant" />
          </div>
          }
          @if (nextDeadlineInfo.priority === 'Medium') {
          <div [style.background]="'#ff7a00'" class="priority-circle">
            <img [src]="'/assets/images/main/' + nextDeadlineInfo.priority.toLowerCase() + '.svg'"
              alt="priority image Medium" />
          </div>
          }
          @if (nextDeadlineInfo.priority === 'Low') {
          <div [style.background]="'#7ae229'" class="priority-circle">
            <img [src]="'/assets/images/main/' + nextDeadlineInfo.priority.toLowerCase() + '.svg'"
              alt="priority image Low" />
          </div>
          }
          <div>
            <p class="num-of">{{nextDeadlineInfo.count}}</p>
            <p>{{ nextDeadlineInfo.priority }}</p>
          </div>
        </div>
        <div class="boderline"></div>
        <div>
          <p>{{ nextDeadlineInfo.date }}</p>
          <p>Upcoming Deadline</p>
        </div>
      </div>
      <div class="show-task-info">
        <div [routerLink]="'/board'" class="show-sum-of-tasks">
          <p class="num-of">{{taskService.tasks.length}}</p>
          <p>Tasks in Board</p>
        </div>
        <div [routerLink]="'/board'" class="show-tasks-in-progress">
          <p class="num-of">{{ getNumberOftasks('inprogress') }}</p>
          <p>Tasks in Progress</p>
        </div>
        <div [routerLink]="'/board'" class="show-awaiting-feedback">
          <p class="num-of">{{ getNumberOftasks('awaitfeedback') }}</p>
          <p>Awaiting Feedback</p>
        </div>
      </div>
    </div>
    <div>
      <div class="greeting">
        <h3>{{getGreeting()}}</h3>
        <h2>{{getLogedInPerson()}}</h2>
      </div>
    </div>
  </section>

  @if (showSuccessMessage) {
  <div class="success-message-container">
    <div class="success-message">
      {{ successMessage }}
    </div>
  </div>
  }
</section>
