<section class="task-card-container" (click)="onTaskClick($event)">
  <div class="inner-container">
    <p [ngClass]="{
      blue: task.category === 'User Story',
      green: task.category === 'Technical Task',
    }" class="card-category">
      {{ task.category }}
    </p>
    <div>
      <p class="card-title">{{ task.title }}</p>
      <p class="card-description">
        {{ getShortDescription(task.description, 40) }}
      </p>
    </div>
    <div class="subtasks-container">
      @if (task.subtasks && task.subtasks.length > 0) {
      <div class="progress-bar-container">
        <div class="custom-progress-bar">
          <div class="progress-fill" [style.width.%]="(getSubtasksDone() / getSubtaskLength()) * 100"></div>
        </div>
        <div>
          <p>{{ getSubtasksDone() }}/{{ task.subtasks.length }} Subtask</p>
        </div>
      </div>
      }
    </div>
    <div class="user-badges-prio-container">
      <div class="user-badges-container">
        @if (hasAssignedUsers) {
        @for (user of getDisplayedUsers(); track user) {
        <div class="badge" [style.background]="getColorForLetter(user.charAt(0))">
          {{ user.substring(0, 2).toUpperCase() }}
        </div>
        }
        @if (getRemainingUsersCount() > 0) {
        <div class="badge extra-count">
          +{{ getRemainingUsersCount() }}
        </div>
        }
        }
      </div>

      <img class="card-prio" [src]="getPriorityIcon()" alt="priority icon" />
    </div>
  </div>
</section>
