@import "../../../styles.scss";

section {
  >div {
    padding: 1.5rem 4.6rem;
    overflow-y: scroll;
    height: calc(100vh - 96px);

    @media(max-width:1024px) {
      height: calc(100vh - 192px);
    }

    @media(max-width:768px) {
      padding: 1.5rem 2.75rem;
    }

    >h1 {
      font-size: clamp(2.5rem, 4vw, 3.8rem);
      font-weight: bold;
    }

    >div {
      margin: 25px 0;

      >h2 {
        margin: 15px 0;
      }

      >h3 {
        margin: 10px 0;
      }

      >ul {
        margin: 10px 0;
        padding: 0 50px;
      }
    }
  }
}

a {
  color: var(--accent-color-light);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--accent-color-light);
  }
}
