<div class="overlay" [ngClass]="{'visible': isVisible, 'hidden': !isVisible}" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="side-banner">
      <img src="/assets/images/sidebar-logo.svg" alt="Join Logo">
      <div>
        <h3>{{heading}}</h3>
        <p>{{subheading}}</p>
      </div>
      <hr>
    </div>

    <div class="contact-form">
      <div class="user-badge-container">
        <div class="user-badge">
          <img src="/assets/images/contactform/person.svg" alt="User Badge Icon">
        </div>
      </div>
      <div class="form">
        <div class="close-btn-wrapper">
          <img class="close-btn" (click)="close()" src="/assets/images/contactform/cancel.svg" alt="cancel button">
        </div>
        <div class="input-fields">
          <div class="firstname-field ">
            <div class="input-wrapper">
              <input [(ngModel)]="firstName" type="text" placeholder="Firstname" (blur)="firstNameTouched = true" />
              <img src="/assets/images/contactform/person-small.svg" alt="person icon" />
            </div>
            <div class="input-hint">@if (!firstName && firstNameTouched) {
              <span>Bitte Vornamen eingeben</span>}
            </div>
          </div>
          <div class="lastname-field">
            <div class="input-wrapper">
              <input [(ngModel)]="lastName" type="text" placeholder="Lastname" (blur)="lastNameTouched = true">
              <img src="/assets/images/contactform/person-small.svg" alt="person icon">
            </div>
            <div class="input-hint">@if (!lastName && lastNameTouched) {
              <span>Bitte Nachname eingeben</span>}
            </div>
          </div>
          <div class="email-field">
            <div class="input-wrapper">
              <input [(ngModel)]="email" type="text" placeholder="Email" (blur)="emailTouched = true">
              <img src="/assets/images/contactform/mail.svg" alt="mail icon">
            </div>
            <div class="input-hint">@if (!email && emailTouched) {
              <span>Bitte Email angeben</span>}
            </div>
          </div>
          <div class="phone-field">
            <div class="input-wrapper">
              <input [(ngModel)]="phone" type="number" placeholder="Phone" inputmode="numeric"
                (blur)="phoneTouched = true">
              <img src="/assets/images/contactform/call.svg" alt="phone icon">
            </div>
            <div class="input-hint">@if (!phone && phoneTouched) {
              <span>Bitte Telefonnummer eingeben</span>}
            </div>
          </div>
        </div>
        <div class="form-buttons">
          <button class="buttonOne" (click)="buttonOneClick.emit()">
            <span>{{buttonOne}}</span>
            <img src="/assets/images/contactform/cancel.svg" alt="cancel icon">
          </button>

          <button class="buttonTwo" (click)="buttonTwoClick.emit({firstName, lastName, email, phone})" type="submit"
            [disabled]="!firstName || !lastName || !email || !phone">
            <span>{{buttonTwo}}</span>
            <img src="/assets/images/contactform/check.svg" alt="check icon">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
