<section class="log-form" [ngClass]="{'visible': isVisible, 'hidden': !isVisible}">
  @if (showBackButton) {
  <img class="back-button" (click)="backButtonClick.emit()" src="/assets/images/login/goback_arrow.svg"
    alt="go back link">
  }
  <section class="form">
    <div>
      <h2>{{heading}}</h2>
      <hr>
    </div>

    <div class="input-fields">
      @if (showNameFields) {
      <div class="firstname-field">
        <div class="input-wrapper" [ngClass]="{'error': !firstName && firstNameTouched}">
          <label for="firstNameInput">Vorname</label>
          <input [(ngModel)]="firstName" type="text" placeholder="Firstname" (blur)="firstNameTouched = true" />
          <img src="/assets/images/contactform/person-small.svg" alt="person icon" />
        </div>
        <div class="input-hint">@if (!firstName && firstNameTouched) {
          <span role="alert">Please enter your first name</span>}
        </div>
      </div>
      <div class="lastname-field">
        <div class="input-wrapper" [ngClass]="{'error': !lastName && lastNameTouched}">
          <label for="lastNameInput">Nachname</label>
          <input [(ngModel)]="lastName" type="text" placeholder="Lastname" (blur)="lastNameTouched = true">
          <img src="/assets/images/contactform/person-small.svg" alt="person icon">
        </div>
        <div class="input-hint">@if (!lastName && lastNameTouched) {
          <span role="alert">Please enter your last name</span>}
        </div>
      </div>
      }

      <div class="email-field">
        <div class="input-wrapper" [ngClass]="{'error': (!email || !isValidEmail()) && emailTouched}">
          <label for="emailInput">E-Mail</label>
          <input [(ngModel)]="email" type="email" placeholder="Email" (blur)="emailTouched = true">
          <img src="/assets/images/contactform/mail.svg" alt="mail icon">
        </div>
        <div class="input-hint">@if ((!email || !isValidEmail()) && emailTouched) {
          <span role="alert">Please enter a valid email address</span>}
        </div>
      </div>

      <div class="password-field">
        <div class="input-wrapper" [ngClass]="{'error': !validatePassword() && passwordTouched}">
          <label for="passwordInput">Password</label>
          <input [(ngModel)]="password" type="password" placeholder="Password" (blur)="passwordTouched = true"
            (input)="onPasswordInput()">
          <img
            [src]="passwordHasContent ? '/assets/images/icons/visibility_off.svg' : '/assets/images/contactform/lock.svg'"
            alt="password icon">
        </div>
        <div class="input-hint">@if (!validatePassword() && passwordTouched) {
          <span role="alert">Password must contain:
            minimum 8 characters, 1 uppercase letter, 1 lowercase letter, 1 number, 1 special character</span>}
        </div>
      </div>


      @if (showPasswordConfirm) {
      <div class="password-field">
        <div class="input-wrapper" [ngClass]="{'error': !matchingPasswords() && confirmedPasswordTouched}">
          <label for="confirmPasswordInput">Confirm Password</label>
          <input [(ngModel)]="confirmedPassword" type="password" placeholder="Confirm Password"
            (blur)="confirmedPasswordTouched = true" (input)="onConfirmedPasswordInput()">
          <img
            [src]="confirmedPasswordHasContent ? '/assets/images/icons/visibility_off.svg' : '/assets/images/contactform/lock.svg'"
            alt="password icon">
        </div>
        <div class="input-hint">@if (!matchingPasswords() && confirmedPasswordTouched) {
          <span role="alert">Passwords do not match</span>}
        </div>
      </div>
      }

      @if (showCheckBoxPrivacyPolicy) {
      <div class="checkbox-container">
        <input type="checkbox" id="privacyPolicy" [(ngModel)]="acceptPrivacyPolicy"
          (blur)="acceptPrivacyPolicyTouched = true">
        <label for="privacyPolicy" class="custom-checkbox"></label>
        <div class="checkbox-text">
          <span>I accept the </span>
          <a routerLink="/privacypolicy" target="_blank">Privacy Policy</a>
        </div>
      </div>
      <div class="input-hint">
        @if (!acceptPrivacyPolicy && acceptPrivacyPolicyTouched) {
        <span role="alert">Please accept the privacy policy</span>
        }
      </div>
      }
    </div>

    <div class="form-buttons">
      @if (buttonOne) {
      <button class="buttonOne button-white-border" (click)="buttonOneClick.emit()">
        <span>{{buttonOne}}</span>
      </button>
      }

      <button class="buttonTwo button-blue" (click)="onSubmit()" type="submit" [disabled]="!isFormValid()">
        <span>{{buttonTwo}}</span>
      </button>
    </div>
  </section>
</section>
