.log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  padding: 2rem;
  gap: clamp(1rem, 3vw, 2rem);
  width: 30vw;
  min-width: 500px;
  min-height: 30vh;
  max-height: fit-content;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  @media(max-width: 800px) {
    min-width: 300px;
    width: 70vw;
  }

  .back-button {
    position: absolute;
    top: 7.5%;
    left: 5%;
    cursor: pointer;
  }

  .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media(max-width:784px) {
      width: 100%;
      gap: 1rem;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      hr {
        width: 50%;
        border: 1px solid #29ABE2;
        margin: 0 auto;
      }
    }

    .checkbox-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      input[type="checkbox"] {
        display: none;
      }

      .custom-checkbox {
        border: 2px solid var(--grey-color);
        border-radius: 3px;
        background: white;

        &::before {
          border: solid white;
          border-width: 0 4px 4px 0;
        }

        &::after {

          border: solid var(--text-color-dark-blue);
          border-width: 0 2px 2px 0;
        }
      }

      input[type="checkbox"]:checked+.custom-checkbox {
        border-color: var(--text-color-dark-blue);

        &::before,
        &::after {
          opacity: 1;
        }
      }

      .checkbox-text {
        flex-direction: row;
        color: var(--text-color-dark-blue);

        a {
          color: var(--accent-color-light);
        }
      }
    }

    .input-fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      .firstname-field,
      .lastname-field,
      .email-field,
      .password-field {
        width: 100%;
        border: none;

        .input-wrapper {
          position: relative;
          width: 100%;

          img {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            width: clamp(12px, 2vw, 16px);
            pointer-events: none;
          }

          input {
            width: 100%;
            padding: clamp(8px, 2vw, 12px);
            font-size: clamp(0.75rem, 1.5vw, 1rem);
            border: 1px solid #D1D1D1;
            background-color: white;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;

            &::placeholder {
              color: #D1D1D1;
            }

            &:focus {
              outline: none;
              border: 1px solid var(--accent-color-light);
            }
          }
        }
      }
    }

    .form-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: clamp(0.5rem, 2vw, 1.5rem);

      @media(max-width: 400px) {
        flex-direction: column;
        width: 50%;
      }

      .button-white-border {
        @media(max-width:400px) {
          width: 100%;
          order: 2;
        }
      }

      .button-blue {
        border: 1px solid #2A3647;
        padding: clamp(0.5rem, 2vw, 0.8rem) clamp(1rem, 4vw, 1.5rem);
        gap: clamp(0.5rem, 2vw, 0.75rem);

        @media(max-width:400px) {
          width: 100%;
          order: 1;
        }


        span {
          font-size: clamp(0.9rem, 1.5vw, 1rem);
        }

        img {
          width: 15px;
        }

        &:hover {
          border: 1px solid #29ABE2;
        }
      }
    }
  }
}

label:not(.custom-checkbox) {
  display: none;
}
