<div class="log-form" [ngClass]="{'visible': isVisible, 'hidden': !isVisible}">
  @if (showBackButton) {
  <img class="back-button" (click)="backButtonClick.emit()" src="/assets/images/login/goback_arrow.svg"
    alt="go back link">
  }
  <div class="form">

    <div>
      <h2>{{heading}}</h2>
      <hr>
    </div>

    <div class="input-fields">
      @if (showNameFields) {
      <div class="firstname-field">
        <div class="input-wrapper">
          <label for="firstNameInput">Vorname</label>
          <input [(ngModel)]="firstName" type="text" placeholder="Firstname" (blur)="firstNameTouched = true" />
          <img src="/assets/images/contactform/person-small.svg" alt="person icon" />
        </div>
        <div class="input-hint">@if (!firstName && firstNameTouched) {
          <span role="alert">Please enter your first name</span>}
        </div>
      </div>
      <div class="lastname-field">
        <div class="input-wrapper">
          <label for="lastNameInput">Nachname</label>
          <input [(ngModel)]="lastName" type="text" placeholder="Lastname" (blur)="lastNameTouched = true">
          <img src="/assets/images/contactform/person-small.svg" alt="person icon">
        </div>
        <div class="input-hint">@if (!lastName && lastNameTouched) {
          <span role="alert">Please enter your last name</span>}
        </div>
      </div>
      }

      <div class="email-field">
        <div class="input-wrapper">
          <label for="emailInput">E-Mail</label>
          <input [(ngModel)]="email" type="email" placeholder="Email" (blur)="emailTouched = true">
          <img src="/assets/images/contactform/mail.svg" alt="mail icon">
        </div>
        <div class="input-hint">@if ((!email || !isValidEmail()) && emailTouched) {
          <span role="alert">Please enter a valid email address</span>}
        </div>
      </div>

      <div class="password-field">
        <div class="input-wrapper">
          <label for="passwordInput">Password</label>
          <input [(ngModel)]="password" type="password" placeholder="Password" (blur)="passwordTouched = true">
          <img src="/assets/images/contactform/lock.svg" alt="password icon">
        </div>
        <div class="input-hint">@if (!password && passwordTouched) {
          <span role="alert">Please enter a valid password</span>}
        </div>
      </div>

      @if (showPasswordConfirm) {
      <div class="password-field">
        <div class="input-wrapper">
          <label for="confirmPasswordInput">Confirm Password</label>
          <input [(ngModel)]="confirmedPassword" type="password" placeholder="Confirm Password"
            (blur)="confirmedPasswordTouched = true">
          <img src="/assets/images/contactform/lock.svg" alt="password icon">
        </div>
        <div class="input-hint">@if (!confirmedPassword && confirmedPasswordTouched) {
          <span role="alert">Please confirm your password</span>}
        </div>
      </div>
      }


      @if (showCheckBoxPrivacyPolicy){
      <div class="checkbox-container">
        <!-- <input type="checkbox" (change)="toggleSubtask()"/> -->
        <input type="checkbox">
        <label class="custom-checkbox"></label>
        <div class="subtask-item">
          <span class="subtask-text"></span>
        </div>
      </div>
      }
    </div>

    <div class="form-buttons">
      @if (buttonOne) {
      <button class="buttonOne button-white-border" (click)="buttonOneClick.emit()">
        <span>{{buttonOne}}</span>
      </button>
      }

      <button class="buttonTwo button-blue" (click)="onSubmit()" type="submit" [disabled]="!isFormValid()">
        <span>{{buttonTwo}}</span>
      </button>
    </div>
  </div>
</div>
