.add-task-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: clamp(2rem, 4vw, 5rem) clamp(1rem, 7vw, 10rem) clamp(1rem, 3vw, 2rem) clamp(1rem, 4vw, 5rem);

  @media (max-width: 1200px) {
    padding: 2rem 4vw 1rem 2vw;
  }

  @media (max-width: 700px) {
    padding: 1rem 2vw 0.5rem 2vw;
  }

  .warning {
    color: var(--error-color);
  }
}
