.add-task-wrapper {
  width: 100%;
  height: calc(100dvh - 96px - 2rem);
  max-width: 1700px;
  padding: clamp(2rem, 4vw, 5rem) clamp(1rem, 7vw, 10rem) clamp(1rem, 3vw, 2rem) clamp(1rem, 4vw, 5rem);
  overflow-y: auto;

  @media (max-width: 1200px) {
    padding: 2rem 4vw 1rem 4vw;
  }

  @media (max-width: 1024px) {
    height: calc(100dvh - 192px - 2rem);
  }

  @media (max-width: 700px) {
    padding: 1rem 2vw 0.5rem 2vw;
    height: calc(100dvh - 192px - 6rem);
  }
}
