<section class="add-task-wrapper">
  <h2>Add Task</h2>

  <section class="form">
    <div class="addTaskForm">
      <div class="title-field">
        <label for="titleInput">Title<span class="warning">*</span></label>
        <input [(ngModel)]="title" type="text" placeholder="Enter a title" (blur)="titleTouched= true" />
        <div class="input-hint">@if (!title && titleTouched) {
          <span role="alert">Please enter a title</span>}
        </div>
      </div>

      <div class="description-field">
        <label for="description">Description</label>
        <textarea rows="5" name="description" id="description" placeholder="Enter a Description"></textarea>
      </div>
      <div class="date-field">
        <label for="dateInput">Due date<span class="warning">*</span></label>
        <div class="input-wrapper">
          <input [(ngModel)]="date" type="text" placeholder="dd/mm/yyyy" (blur)="dateTouched">
          <img src="/assets/images/board/calender.svg" alt="calender icons">
        </div>
        <div class="input-hint">@if (!date && dateTouched) {
          <span role="alert">Please enter a valid email address</span>}
        </div>
      </div>
    </div>
    <div class="border"></div>
    <div class="taskOptions">
      <div class="prio-wrapper">
        <p>Priority</p>
        <div class="prio-btn-container">
          <button class="urgent" [ngClass]="{'active': selectedPrio === 'urgent'}" (click)="selectPrio('urgent')">Urgent
            <img src="/assets/images/board/prio-urgent.svg" alt=""></button>
          <button class="medium" [ngClass]="{'active': selectedPrio === 'medium'}" (click)="selectPrio('medium')">Medium
            <img src="/assets/images/board/prio-medium.svg" alt=""></button>
          <button class="low" [ngClass]="{'active': selectedPrio == 'low'}" (click)="selectPrio('low')">Low <img
              src="/assets/images/board/prio-low.svg" alt=""></button>
        </div>
      </div>
      <div class="assignedTo-wrapper">
        <label>Assigned to</label>
        <div class="custom-select" tabindex="0" (blur)="dropdownOpen = false">
          <div class="selected" (click)="dropdownOpen = !dropdownOpen">
            @if (selectedContacts.length === 0) {
            <span class="placeholder">Select contacts to assign</span>
            }
            @if (selectedContacts.length > 0) {
            <span>Select contacts to assign</span>
            }
          </div>
          @if (dropdownOpen) {
          <div class="dropdown" (mousedown)="$event.preventDefault()">
            @for (group of contactlist.getGroupedContacts(); track group.letter) {
            <div class="group">
              @for (contact of group.contacts; track contact.id) {
              <!-- Hier die Initialen der ausgewählten Kontakte unter dem Input anzeigen -->
              <label class="dropdown-option" [class.selected]="isSelected(contact)" (click)="toggleContact(contact)">
                <span class="contact-initials" [style.background]="getColorForLetter(contact.firstName.charAt(0))">
                  {{ contact.firstName.charAt(0).toUpperCase() }}{{ contact.lastName.charAt(0).toUpperCase() }}
                </span>
                <span class="contact-name">
                  {{ contact.firstName }} {{ contact.lastName }}
                </span>
                <span class="checkbox-container" (click)="$event.stopPropagation()">
                  <input type="checkbox" [checked]="isSelected(contact)" (change)="toggleContact(contact)">
                </span>
              </label>
              }
            </div>
            }
          </div>
          }
        </div>
        <!-- Hier die Initialen der ausgewählten Kontakte unter dem Input anzeigen -->
                @if (selectedContacts.length > 0) {
        <div class="selected-contacts-initials">
          @for (contact of selectedContacts; track contact.id) {
          <span class="contact-initials" [style.background]="getColorForLetter(contact.firstName.charAt(0))">
            {{ contact.firstName.charAt(0).toUpperCase() }}{{ contact.lastName.charAt(0).toUpperCase() }}
          </span>
          }
        </div>
      }
      </div>
      <div class="category-wrapper">
        <label for="category">Category<span class="warning">*</span></label>
        <select name="category" id="category">
          <option value="">Select task category</option>
          <option value="technicalTask">Technical Task</option>
          <option value="userStory">User Story</option>
        </select>
      </div>
      <div class="subtasks-wrapper">
        <label for="subtasks">Subtasks<span class="warning">*</span></label>
        <div class="input-wrapper">
          <input id="subtasks" type="text" placeholder="Add new subtask">
          <img src="/assets/images/board/add.svg" alt="">
          <div class="focus-subtasks-input">
            <img class="close" src="/assets/images/board/close.svg" alt="close button">
            <div class="border"></div>
            <img class="check" src="/assets/images/board/check.svg" alt="check button">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="form-footer">
    <p><span class="warning">*</span>This field is requierd</p>
    <div class="button-container">
      <button class="clearBtn">
        <span>Clear</span>
        <img src="/assets/images/icons/icon-cancel.svg" alt="clear task">
      </button>
      <button class="createTaskBtn">
        <span>Create Task</span>
        <img src="/assets/images/icons/icon-check.svg" alt="create task">
      </button>
    </div>
  </section>

</section>
