section {
  padding: min(2vw, 10.8rem);
  overflow-y: auto;
  height: calc(100dvh - 96px);
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 3.813rem;
  }

  h2 {
    font-size: 1.688rem;
  }

  span {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  .ordered-list-container{
    padding-left: min(4vw, 0rem);
    @media (max-width:620px) {
      padding-left: min(4vw, 0.5rem);
    }
    .ordered-list {
    padding-left: min(4vw, 1.875rem);
    list-style-position: outside;

    li {
      padding-left: min(4vw, 1.875rem);
      font-size: 1rem;

      &::marker {
        font-weight: bold;
        font-size: 1.688rem;
      }
    }

    h3 {
      font-size: 1.25rem;
    }
  }
  }
  

  .highlight {
    color: #29ABE2;
  }

  .image-container {
    position: fixed;
    right: 5%;
    top: 15%;
    z-index: 10;
    background-color: var(--main-bg-color);
    border-radius: 50%;

    @media(max-width:1024px) {
      position: unset;
      text-align: right;
      top: 20%;
    }

    @media(max-width:768px) {
      top: 30%;
    }

    img {
      cursor: pointer;

      &:hover {
        background-color: rgba(128, 128, 128, 0.144);
        border-radius: 100%;
      }
    }
  }
}
