section {
  max-width: 1920px;
  padding: clamp(1.5rem, 4vw, 3rem);
  overflow-y: auto;
  height: calc(100dvh - 96px);
  scrollbar-width: none;
  -ms-overflow-style: none;
  @media(max-width:1024px) {
    height: calc(100dvh - 192px);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 3.813rem;
  }

  h2 {
    font-size: 1.688rem;
  }

  span {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  .ordered-list-container{
    padding-left: 0;
    .ordered-list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: list-counter;

    li {
      counter-increment: list-counter;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 2rem;
      &::before {
        content: counter(list-counter) ".";
        font-weight: bold;
        font-size: 1.688rem;
        width: 2.5rem;
        flex-shrink: 0;
    
      }
      .li-content {
        max-width: 100%;
      }

    }

      h3 {
        font-size: 1.25rem;
      }
    }
  }

  .highlight {
    color: #29abe2;
  }

  .image-container {
    position: fixed;
    right: 5%;
    top: 15%;
    z-index: 10;
    background-color: var(--main-bg-color);
    border-radius: 50%;

    @media (min-width: 1920px) {
      position: absolute;
      top: 5%;
    }

    @media (max-width: 1024px) {
      position: unset;
      text-align: right;
      top: 20%;
    }

    @media (max-width: 768px) {
      top: 30%;
    }

    img {
      cursor: pointer;

      &:hover {
        background-color: rgba(128, 128, 128, 0.144);
        border-radius: 100%;
      }
    }
  }
}
