<header class="header">
  <h1>Kanban Project Management Tool</h1>
  <div>
    <a routerLink="/help"><img src="/assets/images/icons/icon-help.svg" alt="help icon"></a>
    <div (click)="openQuickMenu()" class="user-badge"><span>SM</span></div>
  </div>
</header>

@if (isMenuOpen) {
<div class="overlay" (click)="closeQuickMenu()"></div>
<div class="quickMenu show" (click)="$event.stopPropagation()">
  <a routerLink="/privacypolicy" (click)="closeQuickMenu()">Privacy Policy</a>
  <a routerLink="/legalnotice" (click)="closeQuickMenu()">Legal notice</a>
  <a href="" (click)="closeQuickMenu()">Log out</a>
</div>
}
