<div class="login-container">
  <div class="login-wrapper">

    @if (isLoginMode) {
    <!-- Login Form -->
    <app-log-form [heading]="'Log in'" [buttonTwo]="'Log in'" [showNameFields]="false" [showPasswordConfirm]="false"
      [isLoginMode]="true" (buttonTwoClick)="onLogin($event)">
    </app-log-form>

    <div class="form-actions">
      <button class="guest-login-btn" (click)="guestLogin()">Guest Log in</button>
      <p>Don't have an account?
        <button type="button" class="link-button" (click)="toggleMode()">Sign up</button>
      </p>
    </div>
    } @else {
    <!-- Register Form -->
    <app-log-form [heading]="'Sign up'" [buttonTwo]="'Sign up'" [showNameFields]="true" [showPasswordConfirm]="true"
      [isLoginMode]="false" (buttonTwoClick)="onRegister($event)">
    </app-log-form>

    <div class="form-actions">
      <p>Already have an account?
        <button type="button" class="link-button" (click)="toggleMode()">Log in</button>
      </p>
    </div>
    }
  </div>
</div>
