.login-container {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  margin: 0 auto;
  overflow: visible;
  overflow-x: hidden;
  overflow-y: auto;


  @media (max-width: 768px) {
    align-items: center;
    gap: 1rem;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
  }

  .login-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    @media (max-width: 768px) {
      order: 2;
    }
  }

  .login-wrapper {
    width: 100%;
    max-width: 400px;
    min-width: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    margin-top: auto;

    @media (max-width: 1024px) {
      max-width: 90vw;
      padding: 2rem 1rem;
    }

    @media (max-width: 600px) {
      max-width: 98vw;
      padding: 1rem 0.5rem;
      gap: 0.7rem;
    }
  }
}

.white-onload-overlay {
  position: absolute;
  z-index: 20;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  animation: reveal 1s ease-in-out forwards;

  @media (max-width: 1024px) {
    background-color: var(--nav-bg-color);
  }
}

.join-logo-white {
  display: none;
  position: absolute;
  z-index: 1100;
  width: clamp(60px, 5vw, 100px);
}

@media (max-width: 1024px) {
  .join-logo-white.loaded {
    display: block;
    animation: moveToTopLeft 1s ease-in-out forwards,
      reveal 0.7s ease-in forwards;
  }
}

.join-logo {
  position: absolute;
  z-index: 1000;
  top: 5%;
  left: 5%;
  width: clamp(30px, 5vw, 100px);

  @media (max-width: 600px) {
    top: 2%;
    left: 5%;
  }

}

.join-logo.loaded {
  animation: moveToTopLeft 1s ease-in-out forwards;
}

.login-footer {
  display: flex;
  gap: 2rem;
  align-self: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 2rem 0;
  order: 3;
  margin-top: auto;

  a {
    color: #a8a8a8;
    transition: all 0.3s ease;

    &:hover {
      color: var(--accent-color-light);
    }
  }
}
