<section class="login-container">
  <img class="join-logo" src="/assets/images/login/join_logo.svg" alt="join logo">
  @if (isLoginMode){ <section class="login-header">
    <p>Not a Join user? </p>
    <button type="button" class="button-blue" (click)="toggleMode()"><span>Sign up</span></button>
  </section>}

  <section class="login-wrapper">

    @if (isLoginMode) {
    <!-- Login Form -->
    <app-log-form [heading]="'Log in'" [buttonOne]="'Guest Log in'" [buttonTwo]="'Log in'" [showNameFields]="false"
      [showPasswordConfirm]="false" [isLoginMode]="true" (buttonOneClick)="guestLogin()"
      (buttonTwoClick)="onLogin($event)">
    </app-log-form>

    <div class="input-hint">@if (wrongUser) {
      <span role="alert">Wrong username or password. Please try again</span>}
    </div>

    } @else {
    <!-- Register Form -->
    <app-log-form [heading]="'Sign up'" [buttonTwo]="'Sign up'" [showNameFields]="true" [showPasswordConfirm]="true"
      [isLoginMode]="false" [showBackButton]="true" [showCheckBoxPrivacyPolicy]="false"
      (buttonTwoClick)="onRegister($event)" (backButtonClick)="toggleMode()">
    </app-log-form>
    <div class="input-hint">@if (wrongUser) {
      <span role="alert">User already exists. Please log in or use a different email address.</span>}
    </div>
    }
  </section>

  <section class="login-footer">
    <a routerLink="/privacypolicy">
      Privacy Policy</a>
    <a routerLink="/legalnotice">
      Legal notice</a>
  </section>

  @if (checkAndResetSignOutMessage()) {
  <div class="success-message-container">
    <div class="success-message">
      <p>You have successfully logged out</p>
    </div>
  </div>
  }
</section>
