<div class="contactlist-wrapper">
  <div class="contactlist-container">
    <!-- Add Contact: Anne :D -->
    <button id="addContactBtn" (click)="openAddContact()">Add new contact</button>
    <app-add-contact-modul [isVisible]="isAddContactFormVisible" (closeModal)="closeAddContact()">
    </app-add-contact-modul>

    <!-- Contactlist: Joshua -->
    <div>
      <ul>
        @for (group of groupedContacts; track group.letter) {
        <h2>{{ group.letter }}</h2>

        @for (contact of group.contacts; track contact.id) {
        <div class="single-contact" (click)="openSingleContact()">
          <p class="contact-name">{{ contact.firstName }} {{ contact.lastName }}</p>
          <p class="contact-email">{{ contact.email }}</p>
        </div>
        <hr>
        }
        }
      </ul>
    </div>

    <!-- Detailview: Tony -->
    <div class="contact-container">
      <div class="contact-container-heading">
        <h2>Contacts</h2>
        <p>Better with teams</p>
      </div>
      <div class="single-contact-container" [ngClass]="{ 'open-contact': isOpen }">

        <p>Klaus Mustermann</p>
        <!-- Buttons Delete & Edit: Mirkan -->
        <div class="options-btns-container">
          <div (click)="openEdit()">
            <img src="" alt="">
            <span>Edit</span>
          </div>
          <div (click)="deleteContact()">
            <img src="" alt="">
            <span>Delete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
