<div class="contactlist-wrapper">
  <div class="contactlist-container">
    <!-- Add Contact: Anne -->
    <button id="addContactBtn" (click)="addContact()">Add new contact</button>

    <!-- Contactlist: Joshua -->
    <div>
      <ul>
        @for (contact of contacts; track $index) {
        <div
          class="single-contact"
          (click)="openSingleContact(contact); getContactField(contact.id)"
        >
          <p>{{ contact.name }}</p>
          <p>{{ contact.email }}</p>
          <p>{{ contact.phone }}</p>
        </div>
        <hr />
        }
      </ul>
    </div>
  </div>

  <div class="contact-container">
    <div class="contact-container-heading">
      <h2>Contacts</h2>
      <div style="background-color: #29ABE2; width: 2px; height: 50px"></div>
      <p>Better with a team</p>
    </div>
    <div
      class="single-contact-container"
      [ngClass]="{ 'open-contact': isOpen }"
    >
      <!-- Detailview: Tony -->
      <div class="name-badge-container">
        <img src="/assets/images/icons/placeholder-ellipse.svg" alt="Badge" />
        <div class="name-btn-container">
          <p>
            {{ selectedContact?.firstName + " " + selectedContact?.lastName }}
          </p>
          <div class="options-btns-container">
            <div (click)="openEdit()">
              <img src="/assets/images/icons/icon-edit.svg" alt="" />
              <span>Edit</span>
            </div>
            <div (click)="deleteContact()">
              <img src="/assets/images/icons/icon-delete.svg" alt="" />
              <span>Delete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-information-wrapper">
        <p style="margin-bottom: 30px; font-size: 20px;">Contact Information</p>
        <div class="contact-information">
          <p>E-Mail</p>
          <a href="mailto:{{ selectedContact?.email }}" style="color: #007CEE;">{{ selectedContact?.email }}</a>
        </div>
          <div>
          <p>Phone</p>
          <a href="tel:{{ selectedContact?.phone }}" style="color: black;">+49 {{ selectedContact?.phone }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
