@import "./../../../styles.scss";

#addContactBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 16px;
  background: #2A3647;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  span {
    font-family: 'mainFontBold';
    font-size: 1.3rem;
    color: #FFFFFF;
  }

  img {
    width: 30px;
  }

  &:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}


.contactlist-wrapper {
  display: flex;
  height: calc(100dvh - 96px);

  .contactlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 20vw, 400px);
  }

  .single-contact {
    .contact-name {
      font-size: 20px;
    }

    .contact-email {
      font-size: 16px;
      color: var(--accent-color-light);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .contact-container {
    flex: 1;

    .contact-container-heading {
      display: flex;
    }

    .single-contact-container {
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 0.4s ease;

      &.open-contact {
        display: flex;
      }
      &.single-contact-container.open-contact {
        transform: translateX(0);
      }
    }
    .contact-container-heading {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      padding: 3.75rem 1.8rem;
      padding-bottom: 0;
      h2 {
        font-size: 3.8rem;
        font-weight: 700;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  .name-badge-container {
    display: flex;
    align-items: center;
    padding: 1.8rem;
    gap: 2.5rem;
    .name-btn-container {
      p {
        font-size: 3rem;
        font-weight: 500;
      }
    }
  }
  .options-btns-container {
    display: flex;
    gap: 1rem;
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      &:hover {
        cursor: pointer;
        color: #29abe2;
        font-weight: bold;
      }
    }
  }
  .contact-information-wrapper {
    padding: 1.8rem;
    .contact-information {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      p {
        font-size: 1rem;
        font-weight: 700;
      }
      a {
        margin-bottom: 10px;
        display: inline;
      }
    }
  }

  .ellipse-container {
    padding: 1.8rem;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: white;
      font-size: 3rem;
    }
  }
}
