<div class="contactlist-wrapper">
  <div class="contactlist-container">
    <!-- Add Contact: Anne :D -->
    <button id="addContactBtn" (click)="addContact()">Add new contact</button>

    <!-- Contactlist: Joshua -->
    <div>
      <ul>
        @for (contact of contacts; track $index) {
        <div class="single-contact" (click)="openSingleContact()">
          <p>{{contact.name}}</p>
          <p>{{contact.email}}</p>
        </div>
        <hr>
        }
      </ul>
    </div>
  </div>

  <div class="single-contact-container" [ngClass]="{ 'open-contact': isOpen }">

    <!-- Detailview: Tony -->
    <p>Klaus Mustermann</p>

    <!-- Buttons Delete & Edit: Mirkan -->
    <button>Edit</button>
    <button>Delete</button>
  </div>
</div>
