.contactlist-wrapper {
  display: flex;
  height: calc(100dvh - 96px);

  .contactlist-container {
    width: clamp(200px, 20vw, 400px);
  }

  .contact-container {
    flex: 1;

    .single-contact-container {
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 0.4s ease;

      &.open-contact {
        display: flex;
      }
      &.single-contact-container.open-contact {
        transform: translateX(0);
      }
    }
    .contact-container-heading {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 60px 30px;
      padding-bottom: 0;
      h2 {
        font-size: 3.8rem;
        font-weight: 700;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  .name-badge-container {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 40px;
    .name-btn-container {
      p {
        font-size: 3rem;
        font-weight: 500;
      }
    }
  }
  .options-btns-container {
    display: flex;
    gap: 15px;
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .contact-information-wrapper {
    padding: 30px;
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a {
        margin-bottom: 10px;
      }
      p {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
