@import "./../../../styles.scss";

.contactlist-wrapper {
  display: flex;
  height: calc(100dvh - 96px);

  .contactlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 20vw, 400px);
  }

  .single-contact {
    .contact-name {
      font-size: 20px;
    }

    .contact-email {
      font-size: 16px;
      color: var(--accent-color-light);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .contact-container {
    flex: 1;

    .contact-container-heading {
      display: flex;
    }

    .single-contact-container {
      display: none;

      background-color: aquamarine;

      &.open-contact {
        display: flex;
      }
    }
  }
}
