@if (showFullLayout) {
<div class="app-layout">
  <app-nav class="sidenav"></app-nav>
  <div class="main-content">
    <app-header></app-header>
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
} @else if (showLimitedLayout) {
<div class="app-layout">
  <app-nav class="sidenav" [isLimitedMode]="true"></app-nav>
  <div class="main-content">
    <app-header [isLimitedMode]="true"></app-header>
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
} @else {
<router-outlet></router-outlet>
}
