.app-layout {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 100dvh;
  overflow: hidden;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    overflow: hidden;

    .sidenav {
      width: 10vw;
      min-width: fit-content;
      height: 100dvh;

      @media (max-width: 1024px) {
        width: 100dvw;
        flex: 0;
      }
    }
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
