<section>
  <div class="nav-wrapper">
    <div class="link-container">
      <img src="/assets/images/sidebar-logo.svg" alt="join-logo">
      <nav>
        <div>
          <a href="">
            <img src="/assets/images/icons/icon-summary.svg" alt="">
            <span>Summary</span>
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/icons/icon-add-task.svg" alt="">
            <span>Add Tasks</span>
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/icons/icon-board.svg" alt="">
            <span>Board</span>
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/icons/icon-contacts.svg" alt="">
            <span>Contacts</span>
          </a>
        </div>
      </nav>
    </div>
    <div class="policy-wrapper">
      <a href="">Privacy Policy</a>
      <a href="">Legal notice</a>
    </div>
  </div>
</section>
