.nav-wrapper {
  background-color: var(--nav-bg-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  gap: 6.5rem;
  width: 100%;
  max-width: fit-content;
  max-height: 100dvh;
  min-height: 100dvh;
  white-space: nowrap;

  .link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    >img {
      width: 100px;
    }
  }
}

a {
  font-size: 1rem;
  color: #CDCDCD;
  transition: all 0.3s ease;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  >div {
    width: 100%;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      padding: clamp(0.5rem, 2vw, 0.75rem) clamp(1rem, 4vw, 2rem);

      img {
        width: clamp(20px, 3vw, 25px);
        min-width: clamp(20px, 3vw, 25px);
        margin-right: clamp(0.5rem, 2vw, 1rem);
      }

      &:hover {
        background-color: var(--nav-bg-hover);
      }

      &:active {
        background-color: var(--accent-color-dark);
      }
    }
  }
}

.policy-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  >a {
    padding: clamp(0.5rem, 2vw, 0.75rem) clamp(0.5rem, 3vw, 1rem);

    &:hover {
      color: var(--accent-color-light);
    }
  }
}
