<section>
  <div class="nav-wrapper">
    <div class="link-container">
      <img src="/assets/images/sidebar-logo.svg" alt="join-logo">
      <nav>
        <div [ngClass]="{ 'active': router.url === '/summary' }">
          <a [routerLink]="'/summary'">
            <img src="/assets/images/icons/icon-summary.svg" alt="">
            <span>Summary</span>
          </a>
        </div>
        <div [ngClass]="{ 'active': router.url === '/add-task' }">
          <a routerLink="/add-task">
            <img src="/assets/images/icons/icon-add-task.svg" alt="">
            <span>Add Tasks</span>
          </a>
        </div>
        <div [ngClass]="{ 'active': router.url === '/board' }">
          <a routerLink="/board">
            <img src="/assets/images/icons/icon-board.svg" alt="">
            <span>Board</span>
          </a>
        </div>
        <div [ngClass]="{ 'active': router.url === '/contacts' }">
          <a routerLink="/contacts">
            <img src="/assets/images/icons/icon-contacts.svg" alt="">
            <span>Contacts</span>
          </a>
        </div>
      </nav>
    </div>
    <div class="policy-wrapper">
      <a routerLink="/privacypolicy" [ngClass]="{ 'active': router.url === '/privacypolicy' }">
        Privacy Policy</a>
      <a routerLink="/legalnotice" [ngClass]="{ 'active': router.url === '/legalnotice' }">
        Legal notice</a>
    </div>
  </div>
</section>
