<section>
    <div class="nav-wrapper">
        <div><img src="/assets/images/sidebar-logo.svg" alt=""></div>
        <nav>
            <div><img src="/assets/images/icons/icon-summary.svg" alt=""><a href="">Summary</a></div>
            <div><img src="/assets/images/icons/icon-add-task.svg" alt=""><a href="">Add Tasks</a></div>
            <div><img src="/assets/images/icons/icon-board.svg" alt=""><a href="">Board</a></div>
            <div><img src="/assets/images/icons/icon-contacts.svg" alt=""><a href="">Contacts</a></div>
        </nav>
        <div>
            <a href="">Privacy Policy</a>
            <a href="">Legal notice</a>
        </div>
    </div>
</section>
