<div class="overlay" [ngClass]="{ visible: isVisible, hidden: !isVisible }" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="task-detail-container">
      <div class="task-header">
        <div class="category-badge" [ngClass]="{ 
          'blue': task?.category === 'User Story',
          'green': task?.category === 'Technical Task'
        }">
          {{ task?.category }}
        </div>
        <div class="close-btn-wrapper" (click)="close()">
          <img class="close-btn" src="/assets/images/contactform/cancel.svg" alt="close button" />
        </div>
      </div>

      <div class="task-content">
        @if (!isEditMode) {
        <app-task-detail-view [task]="task" (editTask)="onEditTask()" (deleteTask)="onDeleteTask()">
        </app-task-detail-view>
        }

        @if (isEditMode) {
        <app-task-detail-edit [task]="task" (taskUpdated)="onTaskUpdated($event)" (cancelEdit)="onCancelEdit()">
        </app-task-detail-edit>
        }
      </div>
    </div>
  </div>
</div>
