<section class="board-wrapper">
  <div class="board-header">
    <h2>Board</h2>
    <div>
      <div class="search-field-wrapper">
        <label for="Find Task">Find Task</label>
        <input type="text" placeholder="Find Task" />
        <div class="border-right"></div>
        <img src="/assets/images/board/search.svg" alt="search icon" />
      </div>
      <button class="button-blue">
        <span>Add Task</span>
        <img src="/assets/images/icons/add.svg" alt="add task icon">
      </button>
    </div>
  </div>
  <div class="kanban-board-container">
    <div class="toDoList">
      <div class="list-heading">
        <h3>To do</h3>
        <button class="addTaskToListBtn"><img src="/assets/images/board/add.svg" alt="add button"></button>
      </div>
      <div id="todo" cdkDropList #toDoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inProgressList, awaitFeedbackList, doneList]" (cdkDropListDropped)="drop($event)" class="tasks">
        @for (task of todoTasks; track task.id) {
          <div cdkDrag>
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            <app-compact-task  [task]="task" (taskClick)="openTaskDetail($event)"></app-compact-task>
          </div>
        }
          <div class="empty-list" [class.disabled]="todoTasks.length > 0">
          No tasks to do
        </div>
        
      </div>
    </div>
    <div class="inProgressList">
      <div class="list-heading">
        <h3>In progress</h3>
        <button class="addTaskToListBtn"><img src="/assets/images/board/add.svg" alt="add button"></button>
      </div>
      <div id="inprogress" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inprogress" [cdkDropListConnectedTo]="[toDoList, awaitFeedbackList, doneList]" (cdkDropListDropped)="drop($event)" class="tasks">
        @for (task of inprogress; track task.id) {
          <div cdkDrag>
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            <app-compact-task  [task]="task" (taskClick)="openTaskDetail($event)"></app-compact-task>
          </div>
        }
          <div class="empty-list" [class.disabled]="inProgressTasks.length > 0">
          No tasks in progress
        </div>
      </div>
    </div>
    <div class="awaitFeedbackList">
      <div class="list-heading">
        <h3>Await feedback</h3>
        <button class="addTaskToListBtn"><img src="/assets/images/board/add.svg" alt="add button"></button>
      </div>
      <div id="awaitfeedback" cdkDropList #awaitFeedbackList="cdkDropList" [cdkDropListData]="awaitfeedback" [cdkDropListConnectedTo]="[toDoList, inProgressList, doneList]" (cdkDropListDropped)="drop($event)" class="tasks">
        @for (task of awaitfeedback; track task.id) {
          <div cdkDrag>
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            <app-compact-task  [task]="task" (taskClick)="openTaskDetail($event)"></app-compact-task>
          </div>
        }
          <div class="empty-list" [class.disabled]="awaitFeedbackTasks.length > 0">
          No tasks awaits feedback
        </div>
      </div>
    </div>
    <div class="doneList">
      <div class="list-heading">
        <h3>Done</h3>
      </div>
      <div id="done" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[toDoList, inProgressList, awaitFeedbackList]" (cdkDropListDropped)="drop($event)" class="tasks">
        @for (task of done; track task.id) {
          <div cdkDrag>
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            <app-compact-task  [task]="task" (taskClick)="openTaskDetail($event)"></app-compact-task>
          </div>
        }
        <div class="empty-list" [class.disabled]="doneTasks.length > 0">
          No tasks done
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Task Detail Modal -->
<app-task-detail 
  [isVisible]="isTaskDetailVisible" 
  [task]="selectedTaskForDetail" 
  (closeModal)="closeTaskDetail()">
</app-task-detail>
