.board-header {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-wrap: row wrap;
    gap: 3rem;
  }
}

.kanban-board-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .toDoList,
  .inProgressList,
  .awaitFeedbackList,
  .doneList {
    width: 20%;
  }

  .list-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
