.board-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}

.board-header {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-wrap: row wrap;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;

    #addTaskBtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1rem;
      background: #2a3647;
      border: none;
      border-radius: 10px;
      transition: all 0.3s ease;
      gap: clamp(0.5rem, 1.5rem, 1.5rem);

      span {
        font-family: "mainFontBold";
        font-size: clamp(1rem, 2vw, 1.1rem);
        color: #ffffff;
      }

      img {
        width: clamp(15px, 2vw, 19px);
      }

      &:hover {
        background: #29abe2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .search-field-wrapper {
      position: relative;
      width: 312px;
      max-width: 312px;

      img {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 32px;
        pointer-events: none;
      }

      .border-right {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        width: 1px;
        height: 25px;
        background-color: #D1D1D1;
      }

      input {
        width: 100%;
        padding: clamp(8px, 2vw, 12px);
        font-size: clamp(0.75rem, 1.5vw, 1rem);
        border: 1px solid #D1D1D1;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;


        &::placeholder {
          color: #D1D1D1;
        }

        &:focus {
          outline: none;
          border: 1px solid var(--accent-color-light);
        }
      }
    }
  }
}

.kanban-board-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 64px;
  gap: 24px;
  width: 100%;

  .toDoList,
  .inProgressList,
  .awaitFeedbackList,
  .doneList {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    width: 20%;

  }

  .list-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    color: #42526E;
    font-family: 'mainFontBold';
  }
}


label {
  display: none;
}
