:root {
  --nav-bg-color: #2A3647;
  --nav-bg-hover: #2A3D59;
  --main-bg-color: #F6F7F8;
  --accent-color-dark: #091931;
  --accent-color-light: #409DF2;
  --error-color: #FF3D00;
  --success-color: #7AE229;
  --warning-color: #FFA801;

}

@font-face {
  font-family: 'mainFontRegular';
  src: url(./assets/fonts/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: 'mainFontLight';
  src: url(./assets/fonts/Inter/static/Inter_18pt-Light.ttf);
}

@font-face {
  font-family: 'mainFontBold';
  src: url(./assets/fonts/Inter/static/Inter_18pt-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

html,
body {
  font-family: 'mainFontRegular', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
}
