<div class="edit-form">
  <div class="form-group">
    <label for="title">Title*</label>
    <input type="text" id="title" [(ngModel)]="editTitle" (blur)="titleTouched = true" class="form-input"
      [class.error]="titleTouched && !editTitle" placeholder="Enter a title">
    @if (titleTouched && !editTitle) {
    <div class="error-message">This field is required</div>
    }
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="editDescription" class="form-textarea" placeholder="Enter a Description"
      rows="4">
    </textarea>
  </div>

  <div class="form-group">
    <label for="date">Due date*</label>
    <div class="date-input-container">
      <input id="date" matInput [matDatepicker]="picker" [(ngModel)]="editDate" [min]="minDate"
        (blur)="dateTouched = true" class="form-input" [class.error]="
          dateTouched && (!editDate || !validateDate(editDate))
        " placeholder="dd/mm/yyyy" />
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
    </div>
    <mat-datepicker #picker></mat-datepicker>
    @if (dateTouched && !editDate) {
    <div class="error-message">This field is required</div>
    }
    @if (dateTouched && editDate && !validateDate(editDate)) {
    <div class="error-message">Date cannot be in the past</div>
    }
  </div>

  <div class="form-group">
    <p>Priority</p>
    <div id="priority" class="priority-buttons">
      <button type="button" class="priority-btn urgent" [class.active]="editPriority === 'urgent'"
        (click)="selectPrio('urgent')">
        Urgent
        <img src="/assets/images/board/prio-urgent.svg" alt="urgent" />
      </button>
      <button type="button" class="priority-btn medium" [class.active]="editPriority === 'medium'"
        (click)="selectPrio('medium')">
        Medium
        <img src="/assets/images/board/prio-medium.svg" alt="medium" />
      </button>
      <button type="button" class="priority-btn low" [class.active]="editPriority === 'low'"
        (click)="selectPrio('low')">
        Low
        <img src="/assets/images/board/prio-low.svg" alt="low" />
      </button>
    </div>
  </div>

  <div class="form-group">
    <label>Assigned to</label>
    <div class="custom-select" tabindex="0" (blur)="contactDropDownOpen = false">
      <div class="selected" (click)="contactDropDownOpen = !contactDropDownOpen">
        <span>Select contacts to assign</span>
        <img src="/assets/images/board/arrow_drop_down.svg" alt="" />
      </div>
      @if (contactDropDownOpen) {
      <div class="dropdown" (mousedown)="$event.preventDefault()">
        @for (group of contactService.getGroupedContacts(); track group.letter) {
        <div class="group">
          @for (contact of group.contacts; track contact.id) {
          <label class="dropdown-option" [class.selected]="isSelected(contact)" (click)="toggleContact(contact)">
            <span class="contact-initials" [style.background]="getColorForLetter(contact.firstName.charAt(0))">
              {{ contact.firstName.charAt(0).toUpperCase() }}{{ contact.lastName.charAt(0).toUpperCase() }}
            </span>
            <span class="contact-name">
              {{ contact.firstName }} {{ contact.lastName }}
            </span>
            <span class="checkbox-container" (click)="$event.stopPropagation()">
              <input type="checkbox" [checked]="isSelected(contact)" (change)="toggleContact(contact)"
                id="contact-{{ contact.id }}" />
              <label for="contact-{{ contact.id }}" class="custom-checkbox"></label>
            </span>
          </label>
          }
        </div>
        }
      </div>
      }
    </div>
    @if (selectedContacts.length > 0) {
    <div class="selected-contacts-initials">
      @for (contact of displayedContacts; track contact.id) {
      <span class="contact-initials" [style.background]="getColorForLetter(contact.firstName.charAt(0))">
        {{ contact.firstName.charAt(0).toUpperCase() }}{{ contact.lastName.charAt(0).toUpperCase() }}
      </span>
      } @if (hasExtraContacts) {
      <span class="contact-initials extra-count">
        +{{ remainingCount }}
      </span>
      }
    </div>
    }
  </div>

  <div class="form-group">
    <label for="category">Category*</label>
    <div class="category-display">
      <span>{{ editCategory }}</span>
    </div>
  </div>

  <div class="form-group">
    <label>Subtasks</label>
    <div class="subtasks-wrapper">
      <div class="input-wrapper" [class.focused]="isSubtaskActive">
        <input type="text" placeholder="Add new subtask" #subtaskInput (focus)="showSubtaskControls()"
          (blur)="onSubtaskBlur()" (keyup.enter)="addSubtask(subtaskInput.value); subtaskInput.value = ''" />
        <img src="/assets/images/board/add.svg" alt="add" [class.hide]="isSubtaskActive"
          (click)="showSubtaskControls(); subtaskInput.focus()" />
        <div class="focus-subtasks-input" [class.show]="isSubtaskActive">
          <img src="/assets/images/icons/icon-cancel.svg" alt="cancel"
            (click)="onSubtaskBlur(); subtaskInput.value = ''" />
          <div class="border"></div>
          <img src="/assets/images/board/check.svg" alt="add"
            (click)="addSubtask(subtaskInput.value); subtaskInput.value = ''" />
        </div>
      </div>

      @if (editSubtasks.length > 0) {
      <div class="subtasks-list">
        @for (subtask of editSubtasks; track $index) {
        <div class="subtask-item">
          <div class="checkbox" [class.checked]="subtask.done" (click)="toggleEditSubtask($index)">
            @if (subtask.done) {
            <img src="/assets/images/icons/icon-check.svg" alt="checked">
            }
          </div>
          @if (editingSubtaskIndex === $index) {
          <input type="text" class="subtask-edit-input" [(ngModel)]="editingSubtaskValue" #editInput
            (keydown)="onSubtaskKeydown($event)" (blur)="saveEditedSubtask()" />
          } @else {
          <span class="subtask-text" [class.completed]="subtask.done">{{ subtask.title }}</span>
          }
          <div class="subtask-single-item-icons">
            <img src="/assets/images/board/edit.svg" alt="edit subtask" (click)="editSubtask($index)" />
            <div class="border"></div>
            <img src="/assets/images/board/delete.svg" alt="delete subtask" (click)="removeSubtask($index)" />
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>

<div class="edit-actions">
  <button type="button" class="btn btn-secondary button-white-border" (click)="onCancelEdit()">
    Cancel
  </button>
  <button type="button" class="button-blue" [disabled]="!validateForm()" (click)="saveTask()">
    <span>Ok</span>
    <img src="/assets/images/icons/icon-check.svg" alt="check icon" />
  </button>
</div>

<div>
  <p class="requierd-text"><span class="warning">*</span>This field is required</p>
</div>
